h1 {
  color: #fff1e6 ;
   text-decoration: underline dotted 8px #fec5bb;
  letter-spacing: 6px;
  word-spacing: 3px;
    line-spacing: 10px;
text-shadow: 2px 2px 5px pink; 
}

body {
  background-color: #fcd5ce;
}

img:hover{
  width: 300px;
  border-radius: 50%;
  border: 5px dotted purple;
}
