nav{
  list-style-type: none;
  width:100%;
  background-color: #a5a58d;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: beige;
  text-decoration: none;
  display: block;
  padding: 15px 50px;
  float: left;
}

li a:hover {
  background-color: beige;
  color: black;
  
}
h1 {
  color: #87986a ;
   text-decoration: underline dotted 8px #fec5bb;
  letter-spacing: 6px;
  word-spacing: 3px;
    line-spacing: 10px;
text-shadow: 2px 2px 5px beige; 
}

body {
  background-color: #fefae0;
}

img:hover{
  width: 300px;
  border-radius: 50%;
  border: 5px dotted #fec5bb;
}
